body {
    background-color: rgb(58, 58, 58);
}
nav {
    display: flex;
    font-family: sans-serif;
    padding-top: 10px;
    justify-content: flex-end;
}
nav a {
    padding: 5px;
    color: white;
    font-size: small;
    text-decoration: none;
}
nav a.link-no-image:hover {
    text-decoration: underline;
}